.card {
  opacity: 0;
}
.card__placeholder {
  height: 280px;
  animation: image-loading 1s infinite alternate;
}
@keyframes image-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
/* desktop */
.poster-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 3;
  overflow: hidden;
  border-radius: 8px;
  background: #000;
}

.poster-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* tablet */
@media (max-width: 992px) {
  .poster-wrapper {
    aspect-ratio: 3 / 4;
  }
}

/* mobile */
@media (max-width: 576px) {
  .poster-wrapper {
    aspect-ratio: 4 / 5;
  }
}
